.archive-masonry {
	@include big-red-box;

	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	background-position: center center;
	background-size: cover;
	border-color: transparent;
	box-shadow: none;
	position: relative;
	
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba( theme-color( 'dark' ), 0.25 );
	}
	
	a {
		text-decoration: none;
		
		@include hover {
			text-decoration: underline;
		}
	}
}

.single-masonry-brick {
	@include make-col-ready;

	padding: $spacer;
	
	@include media-breakpoint-up( md ) {
		@include make-col( 8 );
	}
}

.entry-header {
	margin-bottom: map-get( $spacers, 5 );
	word-break: break-word;
	
	.archive-masonry & {
		position: relative;
		flex: 0 0 60%;
		margin-top: map-get( $spacers, 5 );
		margin-bottom: 0;
		padding: 0;
		text-align: center;
		z-index: 10;
		
		@include media-breakpoint-up( md ) {
			flex-basis: 40%;
		}
	}
	
	.single & {
		@include big-red-box;
		
		box-shadow: none;
	}
}

.entry-title {
	margin: 0;
	
	.archive-masonry & {
		font-family: $font-family-base;
		font-size: $font-size-lg;
		font-weight: bold;
	}
	
	.single {
		font-size: $display1-size;
	}
}

.entry-date {
	display: block;
	font-size: $font-size-sm;
}

.entry-footer {
	border-top: 1px solid gray( '300' );
	border-bottom: 1px solid gray( '300' );
	margin: map-get( $spacers, 5 ) 0 map-get( $spacers, 3 );
	padding: map-get( $spacers, 3 ) 0;
	
	.meta-info {
		display: block;
		font-weight: bold;
	}
}