.site-branding {
	@include make-col-ready;

	text-align: center;
	
	@include media-breakpoint-up(md) {
		@include make-col(8);
	
		position: absolute;
		right: 0;
		text-align: right;
	}
	
	a {
		text-decoration: none;
		font-weight: bold;
		letter-spacing: -1px;
	}
}

.site-title {
	font-family: $font-family-base;
	font-size: $display3-size;
	font-weight: bold;
	letter-spacing: -1px;
}

.main-navigation {
	@include make-col-ready;
	
	@include media-breakpoint-up(md) {
		@include make-col(4);
	
		position: absolute;
		left: 0;
	}
}