.masonry-container {
	padding: 0;
}

.masonry-brick {
	@include make-col-ready;
	
	padding: $spacer;
	
	@include media-breakpoint-up(md) {
		@include make-col( 6 );
	}
	
	@include media-breakpoint-up(lg) {
		@include make-col( 4 );
	}
	
	@include media-breakpoint-up(xl) {
		@include make-col( 4 );
	}
}

.gutter-sizer {
	display: none;
	width: map-get( $spacers, 2 );
}