.masonry-container {
	padding: 0;
	position: relative;
}

.masonry-brick {
	@include masonry-brick;
	
	padding: map-get( $spacers, 3 );
}

.gutter-sizer {
	display: none;
	width: map-get( $spacers, 2 );
}

.brick-sizer {
	@include masonry-brick;
}